/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
  color: white;
}

.heroBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://img.lemde.fr/2012/05/14/64/0/1024/512/664/0/75/0/ill_1701005_6005_minecraft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1.5rem);
  transform: scale(1.1);
}

[data-theme='dark'] .heroBanner::before {
  opacity: 0.6;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warningBar {
  background-color: #ff0000;
  color: #ffffff;
  padding: 0.75rem 1rem;
  text-align: center;
  font-weight: bold;
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.warningBar svg {
  width: 20px;
  height: 20px;
}